body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header h2,h4,div {
  text-align: center;
  text-transform: uppercase;
  align-content: stretch;
}

.card {
   padding: 3px 8px;
  margin: 6px 12px;
  border: 	3px solid #0d0174d3;
}
.card-content {
  display: flex;
  padding: 3px 8px;
  margin: 6px 12px;
  border: 	5px solid #0d0174d3;
}

